/*Variables para las paletas de colores*/
:root {
    --violeta-principal: #5d0ec0; /* Botones, títulos, líneas */
    --violeta-hover: #4a0b90; /* Hover botones */
    --gris-claro: #f5f5f5; /* Fondos claros */
    --gris-texto: #6c757d; /* Texto secundario */
    --blanco: #ffffff; /* Texto claro */
    /* Paleta complementaria */
    --color1: #48345d; /* Violeta oscuro, textos secundarios */
    --color2: #733f68; /* Violeta medio, detalles */
    --color3: #b3557e; /* Rosa apagado, badges o hover */
    --color4: #f17993; /* Rosa vivo, acentos */
    --color5: #f4aa97; /* Salmón claro, fondos suaves */
}

.titulo-violeta {
    color: var(--blanco);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.card-color-borde {
    border: 1px solid var(--violeta-principal) !important;
}


#li-marca {
    border-top: 1px solid var(--violeta-principal) !important;
    border-bottom: 1px solid var(--violeta-principal) !important;
}



.linea-violeta {
    border-color: var(--violeta-principal) !important;
    border-width: 2px !important;
    margin-bottom: 4.0rem;
}


.input-mi-color {
    background-color: var(--violeta-principal) !important;
    color: var(--blanco) !important;
    width: 200px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 2.2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

    .input-mi-color:hover,
    .input-mi-color:focus,
    .input-mi-color:active {
        background-color: var(--violeta-hover) !important;
        border-color: var(--violeta-hover) !important;
        box-shadow: none !important;
    }


/*Filtro para iconos prev y next */
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(108%);
}

/*Hover para las card */
.hover-scale:hover {
    transform: translateY(-5px) scale(1.02);
    transition: all 0.3s ease;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3) !important;
}

/* Banner */
#promoCarousel img {
    width: 100%;
    display: block;
}

/* Para el celu */
@media (max-width: 768px) {
    #promoCarousel img {
        height: 250px;
        object-fit: cover;
        object-position: center top;
    }
}


.textbox-app {
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    color: var(--gris-texto);
    background-color: var(--gris-claro);
}
    .textbox-app:focus {
        border-color: var(--violeta-principal) !important;
        box-shadow: 0 0 8px rgba(93,14,192,0.4) !important;
        outline: none !important;
    }

